{% extends 'layout.html' %}

{% block title %}
    {{ story.title }}
{% endblock %}

{% block content %}
    <div class="row" id="main">
		<div class="12u">
		<!-- Content -->
			<article id="content">
				<header>
					<span align="center" id="storyName"><a href="#">{{ story.title }}</a></span>
				</header>
				{{ story.text|safe }}
				<div align="right" class="icon-container">
					<strong class="str-icon" id="likes_for_{{ story.id }}">{{ story.like }}</strong>
                    <a href='{% url 'like' story.id %}' id="{{ story.id }}" class="like-story"><span class="glyphicon glyphicon-heart-empty str-icon"></span></a>
				</div>
			</article>

		</div>
	</div>
{% endblock %}