{% extends "layout.html" %}
{% block title %}
 Sign In
{% endblock %}
{% block content %}
	<form action="" method="POST" name="login" class="login-form">
	<div class="row half">
		<div class="6u">
     	  {{ form.hidden_tag() }}
	      {{ form.username(class='text', placeholder=form.username.label.text) }}
	      {% if form.username.errors %}
	          <p class="login-error">{% for error in form.username.errors %} {{ error }} 
	            {% endfor %}
	          </p>
	      {% endif %} 
	  	</div>
	  	<div class="6u">
	  	</div>
	  </div>
	  <div class="row half">
	  	<div class="6u">
	      {{ form.password(class='text', placeholder=form.password.label.text) }}
	      {% if form.password.errors %}
	          <p class="login-error">{% for error in form.password.errors %} {{ error }} 
	            {% endfor %}
	          </p>
	      {% endif %} 
	    <br>
	    <!-- <a href="#"><span class="glyphicon button" style="font-family: Marmelad">Войти</span></a> -->
	    <input type="submit" class="button button-str" value="Войти"/>
		</div>
		<div class="6u" class="read-question" align="center">
		    <p>Возможно, вам не нужно быть здесь?</p>
		    <p>Форма входа только для писателя.</p>
		    <br>
		   	<input type="button" class="button button-str" value="Читать дальше" id="readMore"/>
		 </div>
    </div>
	</form>
{% endblock %}