{% extends "layout.html" %}
{% block title %}
	Другие сказки
{% endblock %}
{% block tree %}
	{% if g.user %}
		<div align="right" class="1u login-write"><a href="{{ url_for('logout') }}" style="text-indent: 0px" id="login-icon"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></div>
	{% else %}
		{{ super() }}
	{% endif %}
{% endblock %}
{% block content %}
	{% if form %}
		<form action="" method="POST" name="add_story" class="add_story-form">
		{{ form.hidden_tag() }}
		<br>
		{{ form.title(class='text-str', placeholder=form.title.label.text) }}
		<br>
		{{ form.text(class='text-str', placeholder=form.text.label.text)}}
		<br>
		<input type="submit" class="button button-str" value="Рассказать всем!">
		</form>
	{% endif %}
	{% if stories %}
		{% for story in stories %}

		<div class="row str-content" id="main_{{ story.story_id }}">
			<div class="12u">		
			<!-- Content -->
				<article id="content">
					<header>
						<span align="center" id="storyName"><a href="{{ url_for('show_story', story_id = story.story_id) }}">{{ story.title }}</a></span>
					</header>
					{{ story.text|safe }}
					<div align="right" class="icon-container">
						<strong class="str-icon" id="likes_for_{{ story.story_id }}">{{ story.like|string }}</strong>
						<button id="{{ story.story_id }}" class="like-story"><span class="glyphicon glyphicon-heart-empty str-icon"></span></button>
					</div>
						{% if form %}
						<a href="{{ url_for('edit_story', story_id = story.story_id) }}" id="editStory"><span class="glyphicon glyphicon-pencil str-icon"></span></a>
						<button id="removeStory" class="like-story"><span id="{{ story.story_id }}" class="glyphicon glyphicon-trash str-icon remove-story"></span></button>
						{% endif %}
				</article>
			</div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
{% block js %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}