{% extends "layout.html" %}
{% block title %}
	Другие сказки
{% endblock %}
{% if g.user.user_id %}
	{% block tree %}
	<div align="right" class="1u login-write"><a href="{{ url_for('login') }}" style="text-indent: 0px" id="login-icon"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></div>
	{% endblock %}
{% endif%}
{% block content %}
	{% if form %}
		<form action="" method="POST" name="add_story" class="add_story-form">
		{{ form.hidden_tag() }}
		<br>
		{{ form.title(class='text-str', placeholder=form.title.label.text) }}
		<br>
		{{ form.text(class='text-str', placeholder=form.text.label.text)}}
		<br>
		<input type="submit" class="button button-str" value="Рассказать всем!">
		</form>
	{% endif %}
	{% if stories %}
		{% for story in stories %}

		<div class="row str-content" id="main">
			<div class="12u">		
			<!-- Content -->
				<article id="content">
					<header>
						<span align="center" id="storyName"><a href="#">{{ story.title }}</a></span>
					</header>
					{{ story.text }}
					<div align="right" class="icon-container">
						<strong class="str-icon">{{ story.like|string }}</strong><a href="#" id="likeStory"><span class="glyphicon glyphicon-heart-empty str-icon"></span></a>
					</div>
						{% if form %}
						<a href="#" id="editStory"><span class="glyphicon glyphicon-pencil str-icon"></span></a>
						<a href="#" id="removeStory"><span class="glyphicon glyphicon-trash str-icon"></span></a>
						{% endif %}
				</article>
			</div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}